body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url(./images/background.png);
}

.main {
    width: 80%;
    margin: auto;
    background: url(./images/background.png);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    text-align: center;
    margin-top: 20px;
}

h2 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h3 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h4 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h5 {
    color: darkslategrey;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 70px;
    margin-right: 70px;
}

ul{
    text-align: center;
    margin-top: 5px;
}
img {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 8px;
    width: 250;
    height: 300;
}